@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-bus:before {
	content: "\e000";
}
.flaticon-bus1:before {
	content: "\e001";
}
.flaticon-bus28:before {
	content: "\e002";
}
.flaticon-bus3:before {
	content: "\e003";
}
.flaticon-bus5:before {
	content: "\e004";
}
.flaticon-bus7:before {
	content: "\e005";
}
.flaticon-front1:before {
	content: "\e006";
}
.flaticon-omnibus:before {
	content: "\e007";
}
.flaticon-school31:before {
	content: "\e008";
}
