<html>
<head>
  <title>Muni Pileup</title>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"> -->
  <link rel=stylesheet href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <!-- <script src="{{ url_for('static', filename='js/historicalmap.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/leaflet-heat.js') }}"></script>

</head>

<body>
	{% block content %}{% endblock %}

</body>

</html>