{% extends "base.html" %}
{% block content %}
<h1> Historical Muni Data Analysis</h1>
<h2> Individual Vehicle Heatmap</h2>
<p>Just retrieved {{size}} rows in {{time}} seconds</p>
<div id="map" style="width: 800px; height: 500px"></div>
<script> 
var map = L.map('map').setView([37.7833, -122.41941550], 14);
  L.tileLayer('http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.png', {
    attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.',
    maxZoom: 15, 
    minZoom: 5
}).addTo(map);

var busIcon = L.icon({
	iconUrl: '../static/icons/bus3.png', 
	iconSize: [20, 20],
	iconAnchor: [10, 10]
});

//L.marker([37.7833, -122.41941550], {icon: busIcon}).addTo(map);

var heatdata = {{heatdata}};
var heat = L.heatLayer(heatdata, {radius: 5, blur: 5, maxZoom:17}).addTo(map);


</script>
<br></br>
<h2>Time Series Heatmap</h2>
<div id="map2" style="width: 800px; height: 500px"></div>
<script>
var map = L.map('map2').setView([37.7833, -122.41941550], 14);
  L.tileLayer('http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.png', {
    attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.',
    maxZoom: 15, 
    minZoom: 5
}).addTo(map);
$.getJSON("{{ url_for('static', filename='routes.json') }}", function(data){
    console.log(data)
    L.geoJson(data).addTo(map); 

});


var busIcon = L.icon({
	iconUrl: '../static/icons/bus3.png', 
	iconSize: [20, 20],
	iconAnchor: [10, 10]
});

//var timedata = {{timedata|safe}}


</script> 
{% endblock %}
