<!doctype html>
<head>
  <title>Muni Pileup</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"> -->
  <link rel=stylesheet href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
</head>


<body>

<h1>Muni Pileup</h1>
<h2>Checking the spacing between buses to make them more efficient.</h2>
<div id="map" style="width: 800px; height: 500px"></div>
<script src="{{ url_for('static', filename='js/pileupmap.js') }}"></script>


