{% extends "base.html" %}
{% block content %}
<h1>Real time data from nextbus<h1>

<div id="map" style="width: 800px; height: 500px"></div>
<h2> Bus Separation </h2>

<p>Loop through bus routes, show number of buses and difference from even separation</p>
<form action="realbus" id="bus_id">
<select name="bus_id">
	{% for route in routes %}
		<option value={{route}}>{{route}}</option>
	{% endfor %}
</select>
<input type="submit" value="Submit">
</form>

<button onclick="refreshBus()">Refresh Data</button>
<button onclick="showRoutes()">Show Routes</button>
<script>

var map = L.map('map').setView([37.7833, -122.41941550], 14);
  L.tileLayer('http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.png', {
    attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.',
    maxZoom: 15, 
    minZoom: 5
}).addTo(map);

var busIcon = L.icon({
	iconUrl: '../static/icons/bus3.png', 
	iconSize: [20, 20],
	iconAnchor: [10, 10]
});

var buscoords = {{coords|safe}};


function showRoutes() {

	request = new XMLHttpRequest();
	request.open('GET', "{{ url_for('static', filename='routes.json') }}", true);
	
	request.onload = function() {
	  if (request.status >= 200 && request.status < 400){
	    // Success!
	    data = JSON.parse(request.responseText);
	  } else {
	    // We reached our target server, but it returned an error
	
	  }
	};
	
	request.onerror = function() {
	  // There was a connection error of some sort
	};
	
	request.send();	
    L.geoJson(data).addTo(map); 
}

function refreshBus() {

	function onEachFeature(feature, layer) {
    layer.bindPopup(feature.properties.bus);
  }

L.geoJson(buscoords, {
	onEachFeature: onEachFeature,
 	pointToLayer: function (feature, buscoords) {
		return L.marker(buscoords, {icon: busIcon});
 	}
 }).addTo(map);

}



</script>


{% endblock %}